<template>
  <div class="col-md-12 d-flex justify-content-center flex-column align-items-center p-4 statistics-block">
    <div
      v-for="(link, key) in links"
      :key="key"
      class="mb-2 border-bottom w-100 text-center"
    >
      <a
        :href="link.url"
        target="_blank"
      >{{ link.url }}</a>
      {{ link.clicks_count }} -  clicks
      <h6 class="mt-0 pt-0">
        IPs:
      </h6>
      <p
        v-for="(click, key) in link.clicks"
        :key="key"
        class="m-0 p-0"
      >
        {{ click.ip || '' }} <br>
      </p>
    </div>
    <Preloader v-if="loading" />
  </div>
</template>

<script>
import axios from 'axios';
import Preloader from './Preloader.vue';

export default {
  name: 'ShortnerStatisticsBlock',
  components: {
    Preloader,
  },
  props: {
    action: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      links: [],
      loading: false,
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.loading = true;
      axios.get(this.action).then((response) => {
        this.loading = false;
        this.links = response.data.links;
      }).catch((e) => {
        this.loading = false;
        // eslint-disable-next-line
        console.log(e);
      });
    },
  },
};
</script>
<style scoped lang="scss">
 .statistics-block {
     min-height: 200px;
 }
</style>
