<template>
  <div class="col-md-12 d-flex justify-content-center flex-column align-items-center p-4">
    <p v-if="!isFailed && message">
      {{ message }}
    </p>
    <p
      v-if="isFailed && message"
      class="text-danger"
    >
      {{ message }}
    </p>
    <p v-if="newLink">
      <a
        :href="newLink"
        target="_blank"
      >{{ newLink }}</a>
    </p>

    <form :action="action">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <input
            id="inlineFormInput"
            v-model="externalUrl"
            type="text"
            name="external_url"
            max="65535"
            class="form-control mb-2"
            placeholder="Enter a link"
          >
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-primary mb-2"
            @click="createLink"
          >
            Make short link!
          </button>
        </div>
      </div>
    </form>
    <Preloader v-if="loading" />
  </div>
</template>

<script>
import axios from 'axios';
import Preloader from './Preloader.vue';

export default {
  name: 'ShortnerForm',
  components: {
    Preloader,
  },
  props: {
    action: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      externalUrl: '',
      newLink: null,
      message: null,
      isFailed: false,
      loading: false,
    };
  },
  methods: {
    createLink() {
      this.loading = true;
      this.message = null;
      this.isFailed = false;
      axios.post(this.action, {
        external_url: this.externalUrl,
      }).then((response) => {
        this.loading = false;
        this.message = response.data.message;
        this.newLink = response.data.status ? response.data.link : null;
      }).catch((e) => {
        this.loading = false;
        this.isFailed = true;
        if (e.response.status === 422) {
          const errorMessage = e.response.data.errors.external_url || null;
          this.message = errorMessage ? errorMessage.toString() : null;
        } else {
          // eslint-disable-next-line
          console.log('Something wrong with link api');
        }
      });
    },
  },
};
</script>
